.listWrapper {

  display: flex;
  min-height: 1024px;

}
.billing-content{
  margin-top: 110px;
}

.flightinfopay {
  
  top: 110px;
  position: sticky;
  height: max-content;
  border-radius: 8px;
  
}

.flightpay-detail{
    margin-top: -120px;
    padding-bottom:180px;
}

.accordion-button {
  background-color: rgb(255, 255, 255) !important;
  height: 65px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #070707;
}
.paymentmodel{

  background-color: #D0F0C0;
  border-radius: "20px"
}