.bussearch {
  min-height: 370px;
  position: static;
  height: auto;


  .headImage {
    background-image: url(../../asset/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 353px;
    background-position: bottom;
    // position: absolute;
    padding-top: 20px;
    width: 100%;
    margin-top: 70px;
  }

  h2 {
    text-align: center;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }

  .bussearchcontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    position: relative;
    z-index: 6;
    width: 93%;
    margin-left: 50px;
    padding-right: 1rem;
    margin-top: -14px !important;
  }

}

.switch_icon {
  z-Index: 2;
  position: absolute;
  top: 90px;
  right: 1.5rem;
}

.switch_icon:hover {
  border-radius: 30px;
  border: 2.5px solid#acacac;
  background-color: #98989c;
}



.buspickup {
  height: 60px;
  width: 260px;
  margin-left: 25px;
  border-radius: 8px;
  // padding:" 0px 20px",
  border: 2.5px solid #dfdfdf;
  cursor: pointer;
  color: #242222;
  font-size: 17px;
  padding-bottom: -115px;


  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);

    position: absolute;
  }

}

.busbutton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;

}

.react-autosuggest__suggestions-container{
  position: absolute !important;
  z-index: 2;
  background-color: rgba(226, 222, 222, 0.904)!important;
  max-height: 310px !important;
  width: 300px !important;
  overflow-y: scroll!important;

  
  ul{
    list-style-type: none !important;
    margin-top:1px;
    margin-bottom:1px;
  }
  li{
    height: 30px;
    width: 110%;
    margin-left: -30px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224)!important;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    padding-top: 5px;
  }
 
  li:hover{
    background-color: #0e5bce;
    color: white;
  } 
}

.busbtnsearch {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: rgb(3, 126, 207);
  border-radius: 30px !important;
  font-size: 22px !important;
  line-height: 28px !important;
  font-weight: 700 !important;
  color: rgb(255, 255, 255)!important;
  padding: 16px 45px !important;
  outline: 0px !important;
  border: 0px !important;
  letter-spacing: 2px !important;
  margin-bottom: -67px !important;
}

.bussearchbox {
  width: 330px;
  border: 2.5px solid #dfdfdf;
  border-radius: 8px;
  height: 60px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;

  p {
    background-color: #fff;
    margin-top: -15px;
    margin-bottom: 0%;
    width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(107, 103, 103);
    position: absolute;
    text-align: center;

  }

  input {
    width: 100%;
    height: 55px;
    border: none;
    background: rgb(255, 255, 255);
    font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(4, 4, 4);
    border: none;
    outline: none;
    border-radius: 8px;
    outline: 0px;
    font-size: 16px;
    // line-height: 28px;
    padding: 19px 35px;
    font-weight: 700;
  }

  input::placeholder {
    color: rgb(36, 35, 35);
    opacity: 1;
  }
}

.Bus_searchdate {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(35, 33, 33);
  width: 100%;
  font-weight: 700;
  min-height: 55px;
  padding: 13px;
  cursor: pointer;
  // border-right: 1.8px solid rgb(218, 215, 215);
  outline: none;
  margin-bottom: 5px;
}

.bus_calander {
  width: 650px;
  margin-left: -130px;
}



.no-autocomplete {
  color: #999;
  padding: 8px;
}

.autocomplete {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.autocomplete li {
  padding: 8px;
}

.autocomplete>.active,
.autocomplete li:hover {
  background-color: darkgray;
  cursor: pointer;
  font-weight: 700;
}

.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.suggesstionList {
  ul {
    list-style: none !important;
  }
  white-space: nowrap !important;

}

.switchicon:hover {
  background-color: rgb(209, 209, 216);
}

.Switcharrow {
  color: green;
  font-size: 20px;
}