.modalcontainer{
    border-radius: 25px !important;
}

.logintheme{
    background-image: url('../../asset/images/login/kind.png');
   background-size: 130%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: -35px;
    height: 400px;
    
}

.benefitsList {
    padding: 0 2rem;
    font-weight: bold;
    font-size: 20px;
    font-family: quicksand;
    text-transform: capitalize;
    margin-block-start: 1em;
    margin-block-end: 1em;
    
}

.benefitsListItem {
    color: rgb(20, 24, 35);
    li{
        color: rgb(20, 24, 35);
        font: 400 1.2rem / 1.33 "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}

.loginPage{
    z-index: 2;
    position:absolute !important;
    background-image: url('../../asset/images/login/loginbg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    top: -35px;
    border-radius: 25px !important;
    height: 470px !important;
    width: 390px;
}


.loginposition{
    z-index: 1;
    position:relative;
}

.bgtheme{
    margin-top: 40px;
    height: 160px;
    background-image: url('../../asset/images/backgroundimage.png');

}



  .imageuploader{
    border: 10px solid #00a850;
    height: 200px;
    width: 200px;
    margin: 20px;
    position: relative;
    border-radius: 50%;
    cursor: pointer; 
    background-image: url('../../asset/images/login/img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;

    }
  }
  button{
    background-color: "orangered"; border: "orangered"
  }

.logoutbg{
    background-color: "#AFE1AF"
}
  .logoutbuttons{
    background-color: "orangered" !important; 
    border: "orangered" !important;
     width: "70px"
  }

.profilePage{
    width: 60% !important;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #e11212;
    border-color: #d41313 transparent #e01313 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }