.cardcontainer {
    color: #333;
    font: 400 13px/1.231 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    max-width: 964px;
    margin: 0 auto;
}

$arrow-size:10px;
$arrow-color:rgb(250, 250, 246);

.filtertoast{
    z-index:1;
    position:absolute;
    width:270px !important;
    margin-top: 10px;
    background-color: rgba(201, 198, 198, 0.671);
}

.filtertoast:before {
    position: absolute;
    content: "";
    display:block;
    width:0;
    height:0;
    left:50%;
    margin-left: -100px;
    margin-top:-$arrow-size*2;
    border: $arrow-size solid transparent;
    border-bottom: $arrow-size solid rgba(187, 187, 187, 0.671);;
}

img::before {
    /* ... */
    border-radius: 4px;
    content: "";
    position: absolute;
    width: 100%;
}

  .filterTab{
    z-index:1;
    position:absolute;
    width:270px !important;
    margin-top: 10px;
  }
  .multiCitySwitch{
  color: #333;
  font: 400 15px/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  border-radius: 25.5px;
  background-color: #ffffff;
  margin-left: -20px;
 

}
.togglebutton{
    font: 400 15px/1.231 "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #030303;
    border: #ffffff;
    border-radius: 30px;
    .Btn-Blue-BG.active {
        background-color: #ff6421 !important;
      }

}
.togglebutton:hover{
    background-color: #ff6421;
    color: #ffffff;
}

.togglebutton.active{
    background-color: #ff6421 !important;
}