.carmodifysearch_header {
  background-image: url(../../../asset/images/backgroundimage.png);
  height: 180px;
  width: 100%;
  margin-top: 80px;
}


.modifysearch {
  width: 82% !important;
  font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-radius: 8px;
  background-color: rgba(215, 225, 233, 0.888);
  top: 30px;

  h5 {
    font-weight: 700;
    color: #1b0e5e;
  }
}

.car-depature {
  color: #934d0b;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.car-return {
  font-weight: 700;
  color: #934d0b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}


.car-traveldate {
  font-weight: 700;
  color: #934d0b;
}

.car-traveltime {
  font-weight: 700;
  color: #934d0b;

}


.car-traveldetail {
  color: #934d0b;
  font-weight: 700;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: clip;
}

.carlistcontent {
  width: 80% !important;
  font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.listWrapper {

  display: flex;
  min-height: 1024px;

}


.carlistfilter {
  flex: 1;
  top: 110px;
  position: sticky;
  height: max-content;
  // border-radius: 8px;
  // background: rgb(255, 255, 255);

}

.carlistresult {
  flex: 3;
  // min-height: 1900px;
}


.message-box {
  border-radius: 8px;
  background: rgb(255, 255, 255);

  h6 {
    font-weight: 600;
  }
}

.carfilter {
  border-radius: 8px;
  background: rgb(255, 255, 255);

}

.filtersearch {
  justify-content: space-between;

  p {
    font-size: 12px;
    color: gray;
  }

  button {
    width: 70px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(25, 71, 138, .5);
    background: #19478a;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-top: 1px !important;
  }
}





.passenger-capacity {

  input {
    accent-color: red;
  }

}

.arrowicon {
  transform: rotate(90deg);
}

.car-model {

  input {
    accent-color: red;
  }
}

.cab-info {
  min-height: 160px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 850px;
  min-width: 250px;

}

.carbooking_wrapper {

  display: flex;
  justify-content: space-around;


}

.cab_content {

  flex: 3;
  min-height: 160px;

  h5 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8;
  }

  span {
    font-weight: bold;
    font-size: 14px;
  }

}

.cab-image {

  flex: 1;
  min-height: 160px;
  position: relative;
  // background-color: rgb(190, 203, 198);
  border-radius: 5px;

  img {
    // height:"200px";
    // width:"280px";
    position: relative;
    top: 25px;
  }

}

.cab_modelname {
  margin: -1px;
  width: 26px;
  height: 26px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #19478a;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.cab_modelname:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.tag-text {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 0.6rem;
  height: 1rem;
  border-radius: 0.8rem;
  background-color: rgb(238, 244, 253);
  font-size: 14px;
  color: rgb(200, 21, 21);
}

.cab-Amenities {
  margin: -15px 53px;
  align-items: center !important;
}

.cab-model {
  width: fit-content;
  padding: 0px 3px;
  line-height: 1.2;
  letter-spacing: 1px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(225, 230, 239);
  border: 2px solid gray;
  border-radius: 3px;
}


.cab_content {
  height: fit-content;

  ul {
    list-style-type: none;
    margin: 0%;

    li {
      display: flex;
      color: rgb(80, 6, 95);

      p {
        line-height: 1;
        margin-left: 4px;
        color: black;
      }
    }

  }
}

.cab-btn {
  float: right;
  background-color: rgba(13, 77, 252, 0.966);
  color: white;
  border: none;
  font-size: larger;
  width: 120px;
  letter-spacing: 1px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 12px;

}

.cab-btn:hover {
  background-color: rgb(8, 80, 235);
}

.cab_priceinfo {
  width: 190px;
  float: right;
}

.offer-tag {
  margin-left: 118px;
  width: 52px;
  padding-left: 4px;
  letter-spacing: 1px;
  height: 24px;
  font-size: 12px;
  line-height: 2;
  font-weight: bold;
  color: white;
  position: relative;
  background: red;
}

.offer-tag:before {
  content: " ";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}



.circle {
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 2;
  bottom: 8px;
  right: -6px;
}

.fare {

  margin-left: 70px;

  p {
    color: gray;
    text-decoration-line: line-through;

  }

  b {
    margin: 0% !important;
    font-size: 25px;
  }
}

.background-theme {
  height: 240px;
  flex: 1;
  top: 85px;
  margin-top: 70px;
  padding-top: 0.5px;
  background-image: url('../../../asset/images/backgroundimage.png');

}

.carpackageinfo {
  margin-top: 60px;
}

.car-pakagedetail {

  margin-top: -90px;


}

.listWrapper {

  display: flex;
  min-height: 1024px;

}


.car-paydetail {
  top: 110px;
  position: sticky;
  height: max-content;
  border-radius: 8px;
}

.accordion-button {
  background-color: rgb(255, 255, 255) !important;
  height: 65px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #070707;
}



.modifycarsearch_header {
  background-image: url(../../../asset/images/backgroundimage.png);
  height: 190px;
  width: 100%;
  margin-top: 80px;
  padding-top: 15px;

}

.modifycarsearch {
  width: 82% !important;
  font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding-left: 50px;
}

.modifycarsearchbox {
  width: 350px;
  border: 2.5px solid #dfdfdf;
  border-radius: 8px;
  height: 50px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;

  p {
    background-color: #fff;
    margin-top: -15px;
    margin-bottom: 0%;
    width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(107, 103, 103);
    position: absolute;
    text-align: center;

  }

  input {
    width: 100%;
    height: 45px;
    border: none;
    background: rgb(255, 255, 255);
    font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(4, 4, 4);
    border: none;
    outline: none;
    border-radius: 8px;
    outline: 0px;
    font-size: 16px;
    // line-height: 28px;
    padding: 19px 35px;
    font-weight: 700;
  }

  input::placeholder {
    color: rgb(36, 35, 35);
    opacity: 1;
  }
}

.modifydateselections {
  height: 50px;
  width: 230px !important;
   margin-left: 25px;
  border-radius: 8px;
  // padding:" 0px 20px",
  border: 2.5px solid #dfdfdf;
  cursor: pointer;
  color: #242222;
  font-size: 17px;
  padding-bottom: -115px;


  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
  }
}

.modifycarbutton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.modifyroundcarbutton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
  
}

.modifyroundcarsearch_header {
  background-image: url(../../../asset/images/backgroundimage.png);
  height: 190px;
  width: 100%;
  margin-top: 80px;
  padding-top: 15px;

}

.modifyroundcarsearch {
  width: 85% !important;
  font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding-left: 50px;
}

.modifyroundcarsearchbox {
  width: 320px;
  border: 2.5px solid #dfdfdf;
  border-radius: 8px;
  height: 60px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  margin-left: -5px;
  margin-right: 5px;
  p {
    background-color: #fff;
    margin-top: -15px;
    margin-bottom: 0%;
    width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(107, 103, 103);
    position: absolute;
    text-align: center;

  }

  input {
    width: 100%;
    height: 45px;
    border: none;
    background: rgb(255, 255, 255);
    font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(4, 4, 4);
    border: none;
    outline: none;
    border-radius: 8px;
    outline: 0px;
    font-size: 16px;
    // line-height: 28px;
    padding: 26px 20px;
    font-weight: 700;
  }

  input::placeholder {
    color: rgb(36, 35, 35);
    opacity: 1;
  }
}

.modifyrounddateselections {
  height: 50px;
  width: 170px;
  margin-left:15px;
  border-radius: 8px;
  // padding:" 0px 20px",
  border: 2.5px solid #dfdfdf;
  cursor: pointer;
  color: #242222;
  font-size: 17px;
  padding-bottom: -115px;


  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
  }
}

.carroundbutton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;

}

.modifysearchcarlocal_nodays{
  width:100%;
   border:none !important;
  outline:none !important;
  padding: 4%;
  border-radius: 8px;
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  font-weight: 700;
}

.oops-page{

  h4{
    font-weight: 500 !important;
    color:#2d189b;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}