.note{
    background-color: #d7e7ef;
    color: black;
}

.details{
    background-color: #eeeded;  
}

.user{
    background-color: #eeeded;  
}

.user:hover{
    color:rgb(243, 100, 43);
}
.flightpackageinfo{
    margin-top: 70px;
  h6{
    font-size: 18px !important;
    font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(246, 243, 239);
  }
}

.listWrapper {
    display: flex;
    min-height: 1024px;
  }
  .flight-pakagedetail{
    margin-top: -118px;
}

  .flight-paydetail {
    top: 110px;
    position: sticky;
    height: max-content;
    border-radius: 8px;
  }

  .flighticc{
    width: 2rem;
    height: 2rem;
    fill: rgb(34, 118, 227);
    margin-bottom: 5px;
  }

  .refundable {
    display: flex;
    font-size: 12px;
    width: fit-content;
    border-radius: 4px;
    color: white;
    background-color: #198a7b;
    margin-top: 5px;
}



  .iPsCHY::before {
    border-top: 1px dashed rgb(223, 223, 223);
    content: "";
    margin: 0px auto;
    position: absolute;
    inset: 50% 0px 0px;
    width: 98%;
    z-index: -1;
}

  .hVaJvo {
    width: 7px;
    height: 7px;
    background-color: rgb(34, 118, 227);
    border-radius: 50%;
    margin-top: 12px;
    
}

.FlightRoute{
  font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}

  .FLIGHTMOREINFO{
    a{
       text-decoration: none;
    }
  }

  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 0;
    margin: 0 -5%;
    overflow: hidden;
  }
.dot-flashing {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #070707;
    color: #020202;
    margin-left:20px;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #000000;
    color: #070707;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #000000;
    color: #000000;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  @keyframes dot-flashing {
    0% {
      background-color: #020202;
    }
    50%, 100% {
      background-color: rgba(165, 229, 171, 0.2);
    }
  }








