.historyPage{
    // z-index: 1;
    position:relative;
    top: -50px;
    width: 80%
}

.nav-link{
    color: black !important;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link.active{
    color:darkorange !important;
}

.transactionmenu{
    left: 15px;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
}

main{
    width: 100%;
}
.sidebar{
    background: #d8a706;
    color: #fff;
    height: 80vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
     color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    // background: lightskyblue;
    color: #000;
}
.iconpoints, .link_text{
    font-size: 20px;
}

.transaction_content{
    width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.Transaction_Historytab{
    background-color:#5a5a5d !important;
   border-radius: 10px;
    .nav-link{
        color: #fff !important;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .nav-link.active{
        color:darkorange !important;
    }
}

.bustnsvalue{
  margin: 0px 10px;
}

.cancelbooking-box{
    width:80% !important;
    margin: auto;
}

.bookingtable-style{
    font-size: 15px;

    table{
        border:0.5px solid rgba(224, 224, 224, 0.799);
        width:90%;
        height:100%;
        margin-left: 40px;
        margin-top: 20px;
        th{
            background-color: #00a850;
            color:#ebebeb;
            border:0.5px solid #ebebeb;
            padding-left: 10px;
        }
        td{
            padding-left: 20px;
            border:0.5px solid rgba(223, 218, 218, 0.799);
        }
    }
    ul{
        font-size: 12px;
        width: 90%;
    }
}

.bookingpath{
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    margin-bottom: 0%;
}
.paymentmodel{

    background-color: #D0F0C0;
    border-radius: "20px"
  }