.homecontent {
  min-height: 1550px;
  font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.deals {
  margin-top: 138px;
  height: 250px;
  width: 80% !important;
  border-radius: 14px;
  background: #ffffff;

  h1{
    font-weight: 700;
    font-size: 26px;
  }

  .HojoyDEALS {
    margin-top: 10px;
    padding: 13px;
  }

  .flight-deals {
   
    // background: rgba(255, 255, 255, 0.90);
    text-align: center;
    overflow: hidden;
    height: 250px;
    width: 440px;
   
  }

  .hotel-deals{

    // background: rgba(255, 255, 255, 0.90);
    text-align: center;
    overflow: hidden;
    height: 250px;
    width: 440px;
  
  }

  .HOJOYBANNERS{
    // border: 2px solid gray;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  }



  .product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 10px;
    // height: 100%;
    // float: left;
    // width: 50%;



    h2{
      font-size: 22px;
      font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 700;
    }

    h5{
      color: rgb(169, 21, 169);
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 700;
    }

  }

  .information{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }



  .product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    // height: 100%;
    // width: 45%;
    display: inline-block;
  }

  .flight-deals img {
    width: 105%;
    height: 250px;
    border-top-right-radius:12px ;
  }

  .hotel-deals img {
    width: 105%;
    height: 250px;
    border-top-right-radius:12px ;
  }

  .info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .info h2 {
    text-align: center
  }

  .product-image:hover .info {
    transform: translateX(0);
  }

  .info ul li {
    transition: 0.3s ease;
  }

  .info ul li:hover {
    transform: translateX(50px) scale(1.3);
  }

  .product-image:hover img {
    transition: all 0.3s ease-out;
  }

  .product-image:hover img {
    transform: scale(1.2, 1.2);
  }


} 

.nearbyhotels{

  margin-top: 50px;

  h5{
    font-weight: 700;
    font-size: 26px;
    font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}



.travel-stories {
  width: 100%;
  width: 80% !important;
  border-radius: 12px;
  background-color: white;
  min-height: 450px;

h1{
     font-size: 26px;
      font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 700;
      color:#152030;
}
  .container-fluid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
  }

  .card {
      width: 250px;
      height: 350px;
      margin: 10px;
      background-color: rgba(255, 255, 255, 0.877);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

      &:hover {
          .card__caption {
              top: 50%;
              transform: translateY(-50%);
          }

          .card__image {
              height: 100%;
              width: 100%;
              transform: translateY(-10px);
          }
          

          .card__thumb {
              &::after {
                  top: 0;
              }
          }

          .card__snippet {
              margin: 20px 0;
          }
      }

      &__thumb {
          position: relative;
          max-height: 400px;
          overflow: hidden;

          

          &::after {
              position: absolute;
              top: 0;
              display: block;
              content: '';
              width: 100%;
              height: 100%;
              background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
              transition: .3s;

           
          }
      }

      &__image {
          transition: .5s ease-in-out;
      }

      &__caption {
          position: absolute;
          top: 50%;
          z-index: 1;
          padding: 0 20px;
          color: white;
          transform: translateY(-50%);
          text-align: center;
          transition: .3s;

          
      }

      &__title {
          display: -webkit-box;
          max-height: 85px;
          overflow: hidden;
          font-family: 'Playfair Display', serif;
          font-size: 23px;
          line-height: 28px;
          text-shadow: 0px 1px 5px black;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
      }

      &__snippet {
          display: -webkit-box;
          max-height: 150px;
          margin: 20px 0;
          overflow: hidden;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 20px;
          text-overflow: ellipsis;
          transition: .5s ease-in-out;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;

          
      }

      &__button {
          display: inline-block;
          padding: 10px 20px;
          color: white;
          border: 1px solid white;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          transition: .3s;

          &:hover {
              color: black;
              background-color: white;
          }
      }
  }

  
  @media screen and (min-width: 270px) and (max-width: 1300px) {
  
      .travel-stories{
          height:850px;
      }
      .container-fluid {
          justify-content: none;
      }

  }
}

.hojoyoffers-Label{
  margin-top: 100px !important;

  h5{
    // font-family: 'Roboto', sans-serif;
    font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  font-size: 23px;

  }
  h4{
    font-size:17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
}

.hojoyoffers{
  width: 90% !important;
  background-color: white;
  min-height: 270px;

}

.offers-tab{
  
    height:70px !important;
    width: 100% !important;
    background-color: white;
    .nav-tabs{
      justify-content: none !important;
    }

 .nav-link{
    color: #1b0e5e !important;
    margin-left: 27px;
    font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px !important;
    font-weight: 700 !important;
    position: relative;
    cursor: pointer;
 }
}

.HojoyBankoffers{
  width: 100%;
}

.OFFERS-CARD{
  width: 370px !important;
  height: 20px !important;
  margin-bottom: 15px;
  padding: 16px;
  border:0.5px solid rgb(185, 189, 186)!important;
  min-height: 200px;
  -moz-box-shadow: 10px 10px 15px #ccc;
  -webkit-box-shadow: 10px 10px 15px #ccc;
  box-shadow: 10px 10px 15px #ccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;

  h4{
    font-size: 15px;
    font-weight: 700;
  }
  h6{
    font-size: 12px;
  }
}

.OFFERS-CARD:hover{
  border:7px solid rgba(185, 189, 186, 0.116)!important;
}

.bannerimage{
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
}

.DealsCARD{
  width: 360px !important;
  height: 240px !important;
  padding: 16px;
  border:0.5px solid rgb(185, 189, 186)!important;
  min-height: 200px;
  -moz-box-shadow: 10px 10px 15px #ccc;
  -webkit-box-shadow: 10px 10px 15px #ccc;
  box-shadow: 10px 10px 15px #ccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  font-family: 'Roboto', sans-serif;
  border-radius:10px;
  h4{
    font-size: 15px;
    font-weight: 700;
  }
  h6{
    font-size: 12px;
  }
}


.DealsCARD:hover{
  border:7px solid rgba(185, 189, 186, 0.116)!important;
}

.labledeals{
  font-family:QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
  font-size: 23px;
}

.slidebutton{
  height: 50px !important;
  width: 50px !important;
  position: absolute;
  z-index: 3;
  -moz-box-shadow: 10px 10px 15px #ccc;
  -webkit-box-shadow: 10px 10px 15px #ccc;
  box-shadow: 10px 10px 15px #ccc;
  background-color: #FFF;
  color: blue;
}

.slidebutton:hover{
  height: 63px !important;
  width: 63px !important;
  margin-left: -10px;
  background-color: #FFF;
  color: blue;

}

.slidebutton:active{
  background-color: #FFF;
}

.rightcoldeals{
  right: 30px;
  position: relative;
  color: blue;
  z-index: 3;
}
.headerdeals{
    background: linear-gradient(186.44deg, rgb(255, 202, 179) 10.03%, rgb(255, 237, 230) 91.57%, rgb(255, 255, 255) 277.6%);
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin: -10px -26px;
    margin-top: -10px!important;
   padding: 20px;
}

.cardrad{
  border-radius: 20px;
  width: 1200px;
}

.tabsDeals{
  background-color: rgb(255, 255, 255) !important;
    margin-top: -40px!important;
}

.dealsTab{
  margin-left: -53px;
  width:110%;
}
.dealstabActive:focus{
  color: rgb(245, 245, 245) !important;
}

.hotelCARD{
  width: 280px !important;
  height: 400px !important;
  padding: 16px;
  border:0.5px solid rgb(185, 189, 186)!important;
  min-height: 200px;
  -moz-box-shadow: 10px 10px 15px #ccc;
  -webkit-box-shadow: 10px 10px 15px #ccc;
  box-shadow: 10px 10px 15px #ccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  font-family: 'Roboto', sans-serif;
  border-radius:10px;
  h4{
    font-size: 15px;
    font-weight: 700;
  }
  h6{
    font-size: 12px;
  }
}


.hotelCARD:hover{
  border:7px solid rgba(185, 189, 186, 0.116)!important;
}
.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg:none !important;
  --bs-btn-border-color:none !important;
  --bs-btn-border:none !important;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg:none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-hover-border:none !important;
  --bs-btn-focus-shadow-rgb: 211,212,213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg:none !important;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
   --bs-btn-disabled-border-color: #f8f9fa
}