@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


.pricecontent {
  max-width: 925px;
  /* overflow-x: hidden; */
  /* margin: 0 auto; */
}

.pricelabel{

  font-weight: 700;
}

.cards {
  height: 50px !important;
  width: 92px!important;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  position: relative;
  background-color: whitesmoke;
  border-radius: 0px !important;
  border: 1px solid rgba(204, 204, 204, 0.082);
}

.cards:hover{
  background-color: rgb(10, 180, 41);
  color: white;
}

card-list{
  justify-content: space-between;
}


.cards button {
  display: inline-block;
  background-color: #14c8eb;
  color: #fff;
  border: none;
  padding: 1.5em 1.6em;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: background-color 0.5s ease-out;
}

.cards button:focus {
  outline: none;
}

.cards button:hover {
  background-color: #0ea8c7;
}


.controls {
  /* display: flex; */
  /* float:right; */
  /* margin-right: 10px;
  margin-top: 8px; */
}

.controls button {
  /* width: 20px;
  height: 20px; */
  border: 0;
  background-color: #18722cee;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  padding: 4px 10px 5px 8px;

}

.controls button:hover {
  background-color: #d34d0f;
}

.controls button:nth-child(1) {
  margin-right: .5rem;
}
