@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");


.modifyhotelsearch_header {
    background-image: url(../../../asset/images/backgroundimage.png);
    height: 160px;
    width: 100%;
    margin-top: 80px;
    padding-top: 30px;

}

.modifyhotelsearch {
    width: 82% !important;
    font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
}


.hotel-location {
    color: #934d0b;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.hotel-Checkdetails {
    color: #934d0b;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.modifysearch-area {
    width: 350px;
    border: 2.5px solid #c4c1be;
    border-radius: 8px;
    height: 45px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;



    p {
        //background-color: #fff;
        margin-top: -25px;
        margin-bottom: 0%;
        width: 38px;
        margin-left: 22px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(119, 119, 119);
        position: absolute;


    }

    input {
        width: 100%;
        height: 40px;
        background: rgb(255, 255, 255);
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: rgb(4, 4, 4);
        border: none;
        outline: none;
        border-radius: 8px;
        outline: 0px;
        font-size: 18px;
        line-height: 28px;
        padding: 19px 35px;
        font-weight: 700;
    }

    input::placeholder {
        color: rgb(62, 60, 60);
        opacity: 1;
    }
}


.modifysearch-cal {
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(35, 33, 33);
    border-radius: 8px;
    width: 100%;
    display: flex;
    font-weight: 700;
    min-height: 65px;
    cursor: pointer;
    border: none;
    outline: none;
}

.modify-dateselection {

    margin-left: 12px;


    cursor: pointer;
    color: #242222;
    font-size: 17px;
    padding-bottom: -105px;


    p {
        //background-color: #fff;
        margin-top: -21px;
        margin-bottom: 0%;
        margin-left: 22px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(119, 119, 119);
        position: absolute;
    }

    h5 {
        border: 2.5px solid #c2c2c2;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: #242222;
        font-size: 17px;
        font-weight: 700;
        border-radius: 8px;
        height: 45px;
        width: 180px;
    }
}



.modifyHoteloption {
    width: 300px;
    height: 72px;
    border: 2.5px solid #f7841a;
    border-radius: 8px;
    margin-left: 12px;


    p {
        //background-color: #fff;
        margin-top: -21px;
        margin-bottom: 0%;
        // width: 38px;
        margin-left: 22px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(119, 119, 119);
        position: absolute;
    }
}


.hotellistcontent {
    width: 80% !important;
    font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.hotellistWrapper {

    display: flex;
    min-height: 1024px;
}

.hotellistfilter {

    flex: 1;
    top: 110px;
    position: sticky;
    height: max-content;
    border-radius: 8px;
    background: rgb(255, 255, 255);

}

.hotellistresult {
    flex: 3;
}

.hotel-card:hover {
    // transform: scale(1, 1.1);
    border: 5px solid rgba(81, 255, 0, 0.466);
    // box-shadow: -1px -3px 4px 5px rgba(123, 119, 119, 0.25), 
    //   -2px -3px 4px 5px rgba(225, 221, 221, 0.819);
}



.hotelfilter {

    input {
        accent-color: green;
    }

    label {
        margin-left: 0.5em;
    }

}

.searchhotels {

    input {
        border-radius: 8px;
        width: 88%;
        border: 0.5px solid gray;
    }

}

.arrowicon {
    transform: rotate(90deg);
}



.hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}

.shadow {
    box-shadow: 0 8px 15px 10px rgba(0, 0, 0, 0.06) !important;
    border-radius: 6px;
}




.hotel-card {

    overflow: hidden;
    height: 250px;
    border: 6px solid rgba(255, 255, 255, 0.466);

    .carouselslider {

        height: 250px;
        width: 250px;
        img {
            height: 250px !important;
            width: 250px !important;
            ;
            object-fit: cover;
        }
    }

    .hotel-card_info {

        flex: 3;
    }

    .unlike {
        cursor: pointer;
        color: rgb(191, 195, 195);
        font-size: 20px;
    }

    .like {
        cursor: pointer;
        color: red;
        font-size: 20px;
    }


    .hotelrating {

        margin-top: -2px;

        img {
            height: 17px;
            width: 17px;
        }
    }

    .badge-rating {
        background-color: rgb(47, 63, 120);
    }


    .amnities {
        img {
            max-height: 20px;
        }
    }

    .hotel-checklist {
        list-style-type: none;
    }
}

.text-striked {
    text-decoration: line-through;
}

.hoteldetails {
    font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hotelpreview {
    width: 80% !important;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    margin-top: 30px;
    padding: 15px;
    border-radius: 12px;

}

.hotelinfo {

    h4 {
        font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;

    }

}


.hoteladdress {
    font-weight: bold;
    font-family: QuickSand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    margin-left: 12px;
}

.hotelcarousel {
    width: 50%;
    height: 350px;
}

.carousel-image {
    img {
        height: 347px;
        width: 100%;
        border-radius: 8px;
        
    }
}

.carousel-modelsize{
       height: 370px;
        width: 100%;
        border-radius: 8px;
}

.carousel-modelimage {
    img {
        height: 365px;
        width: 100%;
        border-radius: 8px;
    }
}

.hotel-result{
    background-color: #1b0e5e;
    border-radius: 8px;
    color: white;
    width:22%;
    padding: 5px;
}

.preview-image {

    width: 185px;
    height: 162px;
    margin-left: 20px;

    img {
        height: 158px;
        width: 100%;
        border-radius: 6px;
    }
}


.hotelpackage {
    margin-left: 40px;
}

.hotelregularpackage {

    width: 320px;
    height: 183px;
    background-color: rgb(253, 246, 233);
    padding: 10px;
    border-radius: 8px;

    h6 {
        font-weight: bold;
    }
}

.modifyroomSearchText {
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(35, 33, 33);
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    top: 15px;
    padding: 35px 15px 10px;
    text-align: start;
    cursor: pointer;
}

.regular-pack {

    span {
        margin: 0%;
        font-size: 11px;
    }

    p {
        margin: 0%;
        font-size: 14px;
        color: rgb(119, 119, 119);
    }
}

.pack-option {
    padding: 10px 60px;
    background-color: #1a60f7;
    color: white;
    text-decoration-line: none;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 300px;
    height: 50px;
}

.pack-option:hover {
    color: #fff;
    background-color: #0716e2;

}

.hotelpackincludes {
    border: 0.5px solid rgb(184, 179, 179);
    border-radius: 6px;
    padding: 5px;

    p {
        color: green;
        font-size: 14px;
        margin: 0%;
    }
}

.lodgingdetails {

    border: 0.5px solid rgb(184, 179, 179);
    border-radius: 6px;
    padding: 5px;
    justify-content: space-between;

    h6 {
        font-weight: 700;
        margin: 0%;
    }
}

.scrollinfo {
    height: 70px !important;
    border-top: 0.5px solid rgb(219, 219, 219);
    border-radius: 12px;
    width: 82% !important;
    background-color: white;
}

.BorderSpan {

    height: 70px !important;
    border-top: 1px solid rgb(219, 219, 219);
    border-radius: 12px;
    width: 82% !important;
    margin-right: 0px;
    background-color: 'black';
    margin-top: 6%;
}

.RecommendText {
    padding-right: 10px;
    padding-left: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
    font-family: Quicksand;
    font-weight: bold;
}

.RightBorderSpan {
    border: 1px solid rgb(219, 219, 219);
    height: '1px';
    width: 100%;
    margin-right: 550px;
    background-color: 'black';
    margin-top: 6%;

}

.combolist {
    height: 60px !important;
    border-top: 0.5px solid rgb(219, 219, 219);
    border-radius: 12px;
    width: 82% !important;
    background-color: white;

}

.combovalue {
    color: green;
    font-size: 14px;
    margin: 0%;
}



.combo-image {
    width: 185px;
    height: 200px;
    margin-left: 40px;
    position: relative;

    img {
        height: 90px;
        width: 95%;
        border-radius: 6px;
        margin-top: 3px;
        text-align: center;
    }
}

.roomcountPhoto {
    display: flex;
    height: 1.1rem;
    width: 77%;
    font-size: 0.9rem;
    // font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    // bottom: 3px;
    padding: 0.2rem;
    padding-top: 0.1rem;
    padding-right: 0.2rem;
    padding-bottom: 1rem;
    padding-left: 0.2rem;
    border-radius: 0px 0px 0.4rem 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    -webkit-box-pack: center;
    justify-content: center;
}

.roomsize {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.detail {
    display: flex;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    padding-left: 1.3rem;
}

.Propertytype {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.detailicon {
    display: flex;
}

.Adulticon {
    width: 10%;
    height: 90%;
    box-sizing: border-box;
}

.Adulticons {
    width: 10%;
    height: 90%;
}

.personstay {
    font-size: 0.9rem;
    color: rgb(93, 93, 93);
    margin-left: 0.1rem;
    text-align: right;
}

.Amenitiesdetail {
    margin-top: 3px;
    display: flex
}

.PlanandRefund {
    padding-right: 1rem;
    font-size: 0.6rem;
    width: 27%;
}

.divider {
    display: flex;
    margin-right: 1%;
    width: 1%;
    margin-right: 8.2rem;
}

.Refund {
    font-size: 0.7rem;
    color: rgb(0, 162, 173);
    margin-right: 0.1rem;
}

.Policies {
    height: 500px;
    margin-top: 170px;
    font-family: 400 1.2rem / 1.33 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    h5 {
        margin-top: 25px;
        font-weight: bold;
    }

    li {
        margin-top: 10px;
        color: rgb(49, 49, 49);
    }
}

.hotel-detailLayout {
    width: 80% !important;
}

.MulitiHotelList {
    width: 80% !important;
    font: Roboto, sans-serif;
    font-weight: 400;

    h5 {
        font: 20px, Roboto, sans-serif;
        font-weight: bold;
    }

    p {
        font: 12px, Roboto, sans-serif;
    }
}

.MulitiHotelList::selection {
    background: #d32f2f;
    color: #fff;
}

.hotelpackageinfo {
    margin-top: 60px;
}

.hotel-pakagedetail {

    margin-top: -90px;


}

.listWrapper {

    display: flex;
    min-height: 1024px;

}


.hotel-paydetail {
    top: 110px;
    position: sticky;
    height: max-content;
    border-radius: 8px;
}

.insure {
    color: rgb(20, 24, 35);
    font: 800 1.2rem / 1.33 "Helvetica Neue", Helvetica, Arial, sans-serif, bold;
    -webkit-font-smoothing: antialiased;
}

.InsuranceModal {
    font-family: sans-serif;
    font-size: 14px;
    height: 500px;
    margin-top: 150px;

    h3,
    h4 {
        color: #022135;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
    }

    th {
        width: 50%;
        font-family: 'Poppins', sans-serif;
        color: #242424;
    }

    td {

        color: #242424;
        font-weight: 50;
    }

    ul {
        list-style: disc;
        list-style-image: url("../../../asset/images/hotel/check.png");

    }
}

.GuestCount {
    background: rgb(209, 229, 255);
}



.bottom-Content {
    position: sticky;
}

.hotelbackground-theme {
    height: 240px;
    flex: 1;
    position: relative;
    // top: 85px;
    margin-top: 70px;
    padding-top: 0.5px;
    background-image: url('../../../asset/images/backgroundimage.png');

}

a {
    cursor: pointer;
    text-decoration: none;
}

.sliderimg {
    height: 200px;
    width: 100%;

}

.modifyRoomOption {
    position: 'relative';
    z-index: '1';
    left: "-40px";
    right: 210px;
    top: 45px;
    width: 550px;
}


.imagedialog {
    position: 'absolute';
    z-index: 4;
    height: 410px;
    width: 380px;
    left: 400px;
    margin-top: -400px;
    border-radius: 12px;
    background-color: rgba(229, 245, 218, 0.959);
    border: none
}

.imagedialog img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all .3s ease;
}

//   .imagedialog img:hover {
//     transform: scale(1.2);
//   }

.hotel-description {
    font-size: 13px;
}

.popovercontent {
    text-indent: 40px;
    margin-top: 5px;
    text-align: center;

}

.popoverStyle {
    background-color: rgb(236, 250, 236);
}

.popoverbutton {
    background-color: rgb(191, 243, 191) !important;
    color: #022135;
}

.modifyhotelsearchbox {
    width: 300px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    height: 50px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;

    p {
        background-color: #fff;
        margin-top: -15px;
        margin-bottom: 0%;
        width: 38px;
        margin-left: 22px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(107, 103, 103);
        position: absolute;
        text-align: center;

    }

    input {
        width: 100%;
        height: 45px;
        border: none;
        background: rgb(255, 255, 255);
        font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: rgb(4, 4, 4);
        border: none;
        outline: none;
        border-radius: 8px;
        outline: 0px;
        font-size: 16px;
        // line-height: 28px;
        padding: 19px 35px;
        font-weight: 700;
    }

    input::placeholder {
        color: rgb(36, 35, 35);
        opacity: 1;
    }
}

.modifyhotel_searchdate {
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(35, 33, 33);
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    min-height: 45px;
    cursor: pointer;
    border: none;
    outline: none;
}

.modifyhotel_calander {
    width: 650px;
    margin-left: 3px;
}

.modifydaterange {
    height: 50px;
    width: 200px;
    margin-left: 0px;
    border-radius: 8px;
    // padding:" 0px 20px",
    border: 2.5px solid #dfdfdf;
    cursor: pointer;
    color: #242222;
    font-size: 15px;
    padding-bottom: 5px;


    p {
        background-color: #fff;
        margin-top: -14px;
        margin-bottom: 0%;
        margin-left: 22px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(119, 119, 119);
        position: absolute;
    }
}

.modifyguestoption {
    width: 250px;
    height: 50px;
    border: 2.5px solid #dfdfdf;
    border-radius: 8px;
    margin-left: 12px;

    p {
        background-color: #fff;
        margin-top: -14px;
        margin-bottom: 0%;
        // width: 38px;
        margin-left: 22px;
        font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        display: inline-flex;
        font-weight: 700;
        color: rgb(119, 119, 119);
        position: absolute;
    }
}

.modifyroomSearchText {
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(35, 33, 33);
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-top: -50px !important;
    cursor: pointer;
}

.modifyhotelbutton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    // margin-top: 5px;

}



.offeredprice {
    background: crimson;
    border-radius: 3px 0 0 3px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: -100px 10px 10px 100px;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  .offeredprice::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .offeredprice::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid crimson;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  .noData{
    height: 430px;
  }