.header{
    position:relative;
    height: auto;
}
.headerImage{
    background-image: url(../../asset/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 353px;
    background-position: bottom;
    // position: relative;
    padding-top: 10px;
    width: 100%;
    margin-top:85px;
}
.tab-contents{
    position: static;

}