.listWrapper {

  display: flex;
  min-height: 1024px;

}
.billing-content{
  margin-top: 110px;
}

.hotelinfopay {
  
  top: 110px;
  position: sticky;
  height: max-content;
  border-radius: 8px;
  //margin-top: -15px;
}

.hotelpay-detail{
    margin-top: -75px;
    padding-bottom:180px;
}

.accordion-button {
  background-color: rgb(255, 255, 255) !important;
  height: 65px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #070707;
}

.hotelpaybackground-theme{
  height: 200px;
  flex: 1;
  top: 85px;
  margin-top: 70px;
  padding-top: 0.5px;
  background-image: url('../../../asset/images/backgroundimage.png');

}