.hotelsearch {
  min-height: 370px;
  position: static;
  height: auto;

  .headerImage {
    background-image: url(../../asset/images/backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    background-position: bottom;
    // position: absolute;
    padding-top: 30px;
    width: 100%;
    margin-top: 65px;
  }

  h2 {
    text-align: center;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    font-size: 21px;
    font-weight: 700;
    margin: 19px 0;
    margin-bottom: 30px;
    letter-spacing: 1px;

  }

  .searchcontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    position: relative;
    z-index: 6;
    width: 93%;
    margin-left: 50px;
    padding-right: 1rem;
    margin-top: -15px;
  }

}

.hotelsearchbox {
  width: 300px;
  border: 2.5px solid #dfdfdf;
  border-radius: 8px;
  height: 60px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;

  p {
    background-color: #fff;
    margin-top: -15px;
    margin-bottom: 0%;
    width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(107, 103, 103);
    position: absolute;
    text-align: center;

  }

  input {
    width: 100%;
    height: 55px;
    border: none;
    background: rgb(255, 255, 255);
    font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(4, 4, 4);
    border: none;
    outline: none;
    border-radius: 8px;
    outline: 0px;
    font-size: 16px;
    // line-height: 28px;
    padding: 19px 35px;
    font-weight: 700;
  }

  input::placeholder {
    color: rgb(36, 35, 35);
    opacity: 1;
  }
}

.nights {
  border-radius: 10px;
  // background-color:#fdfdff;
  width: 48px;
  height: 32px;
  margin-top: 40px;
  padding: 3px;
  padding-top: 6px;
  margin-left: -10px;
  margin-right: -18px;
  z-index: 9;
  display: flex;
  // cursor: pointer;
}

.daterange {
  height: 60px;
  width: 200px;
  margin-left: 0px;
  border-radius: 8px;
  // padding:" 0px 20px",
  border: 2.5px solid #dfdfdf;
  cursor: pointer;
  color: #242222;
  font-size: 17px;
  padding-bottom: -115px;


  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
  }
}

.guestoption {
  width: 250px;
  height: 60px;
  border: 2.5px solid #dfdfdf;
  border-radius: 8px;
  margin-left: 12px;



  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    // width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
    z-index: 3;
  }

  option {
    height: 30px;
    width: 110%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    height: 40px;
  }

  // option:hover{
  //   background-color: #100de9;
  //   color: white;
  // } 
}

.modiguestoption {
  width: 250px;
  height: 50px;
  border: 2.5px solid #dfdfdf;
  border-radius: 8px;
  margin-left: 12px;

  p {
    background-color: #fff;
    margin-top: -14px;
    margin-bottom: 0%;
    // width: 38px;
    margin-left: 22px;
    font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    display: inline-flex;
    font-weight: 700;
    color: rgb(119, 119, 119);
    position: absolute;
    z-index: 3;
  }
}
.roomSearchItem {
  cursor: pointer;
}

.roomSearchText {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(35, 33, 33);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}





.roomageinfo {
  font-family: sans-serif;
  font-size: small;
  font-weight: 700;
  color: rgb(241, 48, 48);
}

.roomoptionText {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
}



.hotelbutton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;

}

.hotelbtnsearch {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  // background: rgb(255, 94, 0);
  background: rgb(14, 91, 206);
  padding: 16px 45px;
  border-radius: 30px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  outline: 0px;
  border: 0px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-bottom: -75px;
}

.hotel-inputbox {
  padding: 15px 25px;
  border: none;
  outline: none;
  width: 300px;
  font-size: 16px;
  font-weight: 700;
}

.hotel-calanderlabel {
  font-size: 16px;
  font-weight: 700;
  color: rgb(119, 119, 119);
  font-family: Roboto;
}

.hotel_searchdate {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(35, 33, 33);
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  min-height: 65px;
  cursor: pointer;
  border: none;
  outline: none;
}

.hotel_calander {
  width: 650px;
  margin-left: 3px;
}

.bookingConfirmedDetails {

  b {
    margin-left: 10px;
  }
}

.bookinfo {
  background-color: rgb(248, 244, 239);
}

.roomOptions {
  position: 'relative';
  z-index: 7;
  top: 25px;
  width: 420px;
  margin-top: -20px;
  margin-left: -80px;
}


.react-autosuggest__suggestions-container {
  position: absolute !important;
  z-index: 3;
  background-color: rgba(226, 222, 222, 0.904) !important;
  max-height: 286px !important;
  overflow-y: scroll !important;
  width: 300px !important;
 

  ul {
    list-style-type: none !important;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  li {
    height: 30px;
    width: 110%;
    margin-left: -30px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224) !important;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    padding-top: 5px;
  }

  li:hover {
    background-color: #0e5bce;
    color: white;
  }

  li::selection {
    background-color: #0e5bce;
    color: white;
  }
}

.headingcolor {
  font-family: Quicksand, Avenir, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: green;
}

.bp_room_select {
  height: 53px !important;
  width: 240px !important;
  border: none !important;
  outline: none !important;
  font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #040404;
  padding-left: 20px;
  font-weight: 700;
  -webkit-appearance: none;
}

.modibp_room_select {
  height: 40px !important;
  width: 240px !important;
  border: none !important;
  outline: none !important;
  font-family: Roboto, Quicksand, Avenir, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #040404;
  padding-left: 20px;
  font-weight: 700;
  -webkit-appearance: none;
}

.roomsList{
  border: 2px solid #dfdfdf;
  background-color: #e0f7e0;
  max-height: 405px !important;
  overflow-y: scroll !important;
}