@font-face {
  font-family: 'Poppins-Regular';
  src: local('poppins'), url('../public/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('poppins'), url('../public/fonts/Poppins-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  height: 50px;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.nav-item.active {
  background-color: #555;
}

/* Toast */
.Toastify .custom-toast {
  width: unset;
  min-width: 248px;
  top: 22px;
  border-radius: 10px
}

.Toastify .Toastify__close-button {
  align-self: center;
}

.Toastify .Toastify__progress-bar--success {
  @apply bg-int-green-alert
}

.Toastify .Toastify__progress-bar {
  height: 3px;
}

.custom-toast .Toastify__toast {
  border-radius: 11px;
  min-height: unset;
}

.custom-toast .custom-body-toast {
  @apply text-int-grey-90 text-button mr-2 p-0
}